## Notebook 1: Data Cleaning Summary
In this notebook, we focus on the initial cleaning and validation of the raw Steam dataset to prepare it for modeling and analysis. The dataset includes game metadata, pricing, reviews, achievements, and other attributes collected from the Steam platform.

The hope is that the cleaned dataset serves as a reliable foundation for downstream modeling. It should eliminate structural issues that could affect joins, aggregations, and filtering during Power BI reporting. The output of this notebook will be used as input for the normalization process that follows.

In [545]:
import pandas as pd
import numpy as np
import sys
import ast
import os
sys.path.append(os.path.abspath(".."))
from utils.data_utils import miss_val_per

In [546]:
gamesdf = pd.read_csv("../steam/games.csv")

In [547]:
games = gamesdf.copy()

In [607]:
gamesdf['gameid'].nunique()

98248

In [549]:
#games.head(5)

In [550]:
#games.info()

There are 98248 observtaions. Before dealing with other null values, since I'll be interested in variables like prices, genres, developers. Most 'playstests' don't include these. So I will remove all 'playstest' games. From below, there are 5280 of them, about 5% of the dataset.

In [551]:
playtest_num = games['title'].astype(str).str.contains('Playtest').sum()
playtest_perc = (playtest_num / len(games) ) * 100
print(f'Number of playtest games: {playtest_num}')
print(f'Percentage of playtest games: {playtest_perc: .2f}%')

Number of playtest games: 5280
Percentage of playtest games:  5.37%

In [552]:
# View them just to see if its the expected output.
playtest_games = games[games['title'].astype(str).str.contains('Playtest')] 
playtest_games.head(5)

,gameid,title,developers,publishers,genres,supported_languages,release_date
0,3281560,Horror Game To Play With Friends! Playtest,NaN,NaN,NaN,NaN,2024-10-21
1,3280930,Eternals' Path Playtest,NaN,NaN,NaN,NaN,2024-10-17
2,3280770,ANGST: A TALE OF SURVIVAL - Singleplayer Playtest,NaN,NaN,NaN,NaN,2024-10-13
3,3279790,Montabi Playtest,NaN,NaN,NaN,NaN,2024-10-13
4,3278320,파이팅걸 유리 Playtest,NaN,NaN,NaN,NaN,2024-10-12

In [553]:
games = games[~games['title'].astype(str).str.contains('Playtest')]

In [554]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92968 entries, 5 to 98247
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gameid               92968 non-null  int64
 1   title                92965 non-null  object
 2   developers           92682 non-null  object
 3   publishers           92303 non-null  object
 4   genres               92692 non-null  object
 5   supported_languages  92735 non-null  object
 6   release_date         92968 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.7+ MB

Now exploring missing data in general after removing playstests. Table below indicates that the columns have <1% missing values.

In [555]:
miss_per_col  = miss_val_per(games)
miss_per_col

                     Number of Missing Values  Percent of Total Values
publishers                                665                     0.72
developers                                286                     0.31
genres                                    276                     0.30
supported_languages                       233                     0.25
gameid                                      0                     0.00
title                                       3                     0.00
release_date                                0                     0.00

We also drop the games with no title. From the output below, these also have mo developers and publishers.

In [556]:
no_title_games = games[games['title'].isna()]
no_title_games
games = games[~games['title'].isna()]
no_title_games

,gameid,title,developers,publishers,genres,supported_languages,release_date
2853,1347240,NaN,NaN,NaN,NaN,['English'],2021-04-20
39705,1116910,NaN,NaN,NaN,"['Action', 'Adventure', 'Casual', 'Indie', 'RP...",NaN,2019-09-25
77700,396420,NaN,NaN,NaN,NaN,NaN,2016-11-01

For  developers, publishers, genres and supported_languages we shall place the null values with "None stated" to avoid losing more data.

In [557]:
miss_per_col  = miss_val_per(games)
miss_per_col

                     Number of Missing Values  Percent of Total Values
publishers                                662                     0.71
developers                                283                     0.30
genres                                    274                     0.29
supported_languages                       231                     0.25
gameid                                      0                     0.00
title                                       0                     0.00
release_date                                0                     0.00

In [558]:
miss_vals_col = list(miss_per_col[(miss_per_col['Number of Missing Values'] > 0)].index)
for col in miss_vals_col:
    games[col] = games[col].apply(lambda x: ['None stated'] if pd.isna(x) else x)

In [559]:
miss_per_col  = miss_val_per(games)
miss_per_col

                     Number of Missing Values  Percent of Total Values
gameid                                      0                      0.0
title                                       0                      0.0
developers                                  0                      0.0
publishers                                  0                      0.0
genres                                      0                      0.0
supported_languages                         0                      0.0
release_date                                0                      0.0

In [560]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92965 entries, 5 to 98247
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gameid               92965 non-null  int64
 1   title                92965 non-null  object
 2   developers           92965 non-null  object
 3   publishers           92965 non-null  object
 4   genres               92965 non-null  object
 5   supported_languages  92965 non-null  object
 6   release_date         92965 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.7+ MB

Working with prices now.

In [561]:
pricesdf = pd.read_csv('../steam/prices.csv')

In [573]:
prices = pricesdf.copy()

Based on the info below, the prices table has 4414273 rows. The table has prices in different currencies (usd, eur etc), on different dates (date_acquired) for the games. Notably each game's price can be 'acquired' on different days, hence there could be multiple entries for each game. The 
(original) games table had 98248 unique gameids, the prices table has 98465. So there are about 217 games with a price but no game information (in the original games table). We will use the original games table to weed out these games since we will have no information about them.

We will first check the 'playtest' games in the prices (using the game_id) to see if these have prices (they probably shouldn't) then remove these, so we have a leaner dataframe more in line with the cleaned games table.

In [563]:
#prices.head(3)

In [574]:
uniq_ids_prices = prices['gameid'].nunique()
uniq_ids_original_games = gamesdf['gameid'].nunique()
print(f'Number of unique game ids in prices: {uniq_ids_prices}')
print(f'Number of unique game ids in original games: {uniq_ids_original_games}')

Number of unique game ids in prices: 98465
Number of unique game ids in original games: 98248

Below we see prices for which the game ids are not in the original games table and there are 217 such games. We remove these prices since we will not be able to get information for the corresponding game.

In [575]:
prices_ids = set(prices['gameid'])
games_ids = set(gamesdf['gameid'])
# IDs in reviews that don't exist in games
price_id_not_in_games = prices_ids - games_ids
print("Number of games in prices table that do not appear in original games table:", len(price_id_not_in_games))  
gameid_not_in_games = prices[prices['gameid'].isin(list(price_id_not_in_games))]
prices = prices[prices['gameid'].isin(gamesdf['gameid'])] #remove these games
gameid_not_in_games.head()

Number of games in prices table that do not appear in original games table: 217

       gameid   usd   eur   gbp     jpy    rub date_acquired
361   1423450  9.99  9.75  8.50  1200.0  385.0    2024-11-28
1816  1378820  0.99  0.99  0.84   117.0   41.0    2024-11-28
2447  1360760  0.99  0.79  0.79   100.0   30.0    2024-11-28
2622  1355020  6.99  5.69  5.19   720.0  175.0    2024-11-28
2959  1344430  0.55  0.55  0.47    65.0   22.0    2024-11-28

In [571]:

#unmatched_playtest_ids = review_id_not_in_games.intersection(playtest_ids)
#print("Number of games in reviews not in games table but are in the playtest:", len(unmatched_playtest_ids))  
#remaining_unmatched = review_id_not_in_games - unmatched_playtest_ids
#print("Number of games in reviews that do not appear in games after removing playtests:", len(expected_remaining_unmatched))

Number of games in prices table that do not appear in games table: 217

       gameid   usd   eur   gbp     jpy    rub date_acquired
361   1423450  9.99  9.75  8.50  1200.0  385.0    2024-11-28
1816  1378820  0.99  0.99  0.84   117.0   41.0    2024-11-28
2447  1360760  0.99  0.79  0.79   100.0   30.0    2024-11-28
2622  1355020  6.99  5.69  5.19   720.0  175.0    2024-11-28
2959  1344430  0.55  0.55  0.47    65.0   22.0    2024-11-28

In [576]:
uniq_ids_prices = prices['gameid'].nunique()
uniq_ids_original_games = gamesdf['gameid'].nunique()
uniq_ids_updated_games = games['gameid'].nunique()
print(f'Number of unique game ids in new prices table: {uniq_ids_prices}')
print(f'Number of unique game ids in original games: {uniq_ids_original_games}')
print(f'Number of unique game ids in updated games: {uniq_ids_updated_games}')

Number of unique game ids in new prices table: 98248
Number of unique game ids in original games: 98248
Number of unique game ids in updated games: 92965

Next we shall remove the playtest games. The attempt now is to get the prices table as close as possible to the updated games table. We will first check the 'playtest' games in the prices (using the game_id) to see if these have prices (they probably shouldn't) then remove these, so we have a leaner dataframe more in line with the cleaned games table. In the prices table, we shall remove the games that correspond to playtest games since these have no prices. Below we first confirm that indeed all the prices for the playtest games are NaNs, afterwhich we remove these.

In [577]:
playtest_ids = playtest_games['gameid']  # game ids with playtest in title in games df 
playtest_prices = prices[prices['gameid'].isin(playtest_ids)] #prices for games which are playtests
print(f'Number of rows: {playtest_prices.shape[0]}') #number of rows
print('Number of missing values per column:')
playtest_prices.isna().sum() #which of the playtest games are NaNs?

Number of rows: 233714
Number of missing values per column:

gameid                0
usd              233714
eur              233714
gbp              233714
jpy              233714
rub              233714
date_acquired         0
dtype: int64

In [578]:
prices = prices[~prices['gameid'].isin(playtest_ids)]
prices.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4170948 entries, 5 to 4414272
Data columns (total 7 columns):
 #   Column         Dtype
---  ------         -----
 0   gameid         int64
 1   usd            float64
 2   eur            float64
 3   gbp            float64
 4   jpy            float64
 5   rub            float64
 6   date_acquired  object
dtypes: float64(5), int64(1), object(1)
memory usage: 254.6+ MB

Below we see that the number of unique ids in the prices and games table are almost the same (with a difference of 3). I suspect these are the 3 games with no title that we removed earlier on, and this is confirmed below as well. We shall remove these gameids from prices.

In [416]:
uniq_ids_prices = prices['gameid'].nunique()
uniq_ids_updated_games = games['gameid'].nunique()
print(f'Number of unique game ids in updated prices table: {uniq_ids_prices}')
print(f'Number of unique game ids in updated games: {uniq_ids_updated_games}')

Number of unique game ids in updated prices table: 92968
Number of unique game ids in updated games: 92965

In [581]:
#checking if the gameids in prices that dont appear in games are exactly the ones that have no title from before
set(prices['gameid']) - set(games['gameid'])  == set(no_title_games['gameid'])

True

In [582]:
prices = prices[prices['gameid'].isin(games['gameid'])]
uniq_ids_prices = prices['gameid'].nunique()
uniq_ids_updated_games = games['gameid'].nunique()
print(f'Number of unique game ids in updated prices table: {uniq_ids_prices}')
print(f'Number of unique game ids in updated games: {uniq_ids_updated_games}')

Number of unique game ids in updated prices table: 92965
Number of unique game ids in updated games: 92965

In [583]:
set(games['gameid']) == set(prices['gameid']) #check if all IDs in games are in prices and vice versa

True

Just a remninder of how the prices table looks:

In [584]:
prices.head(3)

     gameid   usd   eur   gbp    jpy    rub date_acquired
5   3278740  5.99  5.85  5.10  720.0  228.0    2024-11-28
10  3270850  3.99  3.99  3.89  470.0  165.0    2024-11-28
15  3267350   NaN   NaN   NaN    NaN    NaN    2024-11-28

We continue checking the NA's in prices. First we check which rows have an NaN in any column, i.e which game has no price in at least one currency.  The table below indicates theres quite a number of missing prices in the different currencies.

In [585]:
rows_with_nan = prices[prices.isnull().any(axis=1)]
#print('')
print('Sample of table with at least one missing price:\n')
print(rows_with_nan.head(3))
print('\nPercentage of missing values per column: ')
miss_prices = miss_val_per(rows_with_nan)
miss_prices

Sample of table with at least one missing price:

     gameid   usd  eur   gbp    jpy    rub date_acquired
15  3267350   NaN  NaN   NaN    NaN    NaN    2024-11-28
17  3266470  3.49  NaN  3.00  406.0  140.0    2024-11-28
22  3263370  0.99  NaN  0.89  120.0   42.0    2024-11-28

Percentage of missing values per column:

               Number of Missing Values  Percent of Total Values
eur                             1463601                    93.89
rub                              767321                    49.22
jpy                              681478                    43.72
gbp                              669734                    42.96
usd                              668743                    42.90
gameid                                0                     0.00
date_acquired                         0                     0.00

We are going to attempt to investigate the issue of the NaN prices in the prices table by extracting just one such game. As seen below, in the prices table this one game has no prices (NaN). Checking the game in the games table indicates that this game is 'Free to play' (listed under genres) so customers need not pay. Two ways to deal with this: 
* either remove this and risk losing a lot of data or
* replace this with 0 which may skew the price distribution if theres a lot of such games compared to those which have a price greater than 0.

In [586]:
one_suspicious_game = prices[prices['gameid']==3267350]
one_suspicious_game.head()

         gameid  usd  eur  gbp  jpy  rub date_acquired
15      3267350  NaN  NaN  NaN  NaN  NaN    2024-11-28
97912   3267350  NaN  NaN  NaN  NaN  NaN    2024-11-30
195685  3267350  NaN  NaN  NaN  NaN  NaN    2024-12-02
293331  3267350  NaN  NaN  NaN  NaN  NaN    2024-12-04
390988  3267350  NaN  NaN  NaN  NaN  NaN    2024-12-06

In [587]:
games[games['gameid']==3267350]

,gameid,title,developers,publishers,genres,supported_languages,release_date
15,3267350,Tiny Shooters,['madilumar'],['Thetinyverse'],"['Action', 'Free To Play']",['English'],2024-10-19

We shall extract all 'Free to play games' and study them further. The print out shows there are 8746 of such games, about 9% of the total.
We then check in the prices table if indeed all these games have NaN for all prices.

In [588]:
free_to_play = games[games['genres'].astype(str).str.contains('Free To Play', case=False)] 
free_to_play.head(2)

,gameid,title,developers,publishers,genres,supported_languages,release_date
15,3267350,Tiny Shooters,['madilumar'],['Thetinyverse'],"['Action', 'Free To Play']",['English'],2024-10-19
28,3261860,CAIGE: Cum Overflow,['Zapt5454'],['Zapt5454'],"['Casual', 'Free To Play']",['English'],2024-10-18

In [589]:
num_free_to_play = len(free_to_play)
print(f'Number of free to play games: {num_free_to_play}')
free_to_play_perc = (len(free_to_play) / len(games) )*100
print(f'Percentage of free to play games: {free_to_play_perc: .2f}%')

Number of free to play games: 8750
Percentage of free to play games:  9.41%

The print out below shows that not all 'Free to play' games have a price of NaN in the prices table. This could suggest that the game was once 'free to play' and so the tag stuck with it. In any case, since the prices are available, we can assume that the game is no longer free to play. I am making the decision to remove this 'tag' from the genres for games that actually have a price in the prices table so that it accuractely reflects the current state. We shall start with the usd column and see where the analysis takes us.

In [590]:
free_to_play_ids = free_to_play['gameid']
free_to_play_prices = prices[prices['gameid'].isin(free_to_play_ids)]

#miss_val_per(free_to_play_prices)
#free_to_play_prices['gameid'].nunique()
#free_to_play_prices.info()
free_to_play_prices[~free_to_play_prices['usd'].isna()].head(2) #checking which of the supposed free to play games actually have prices.

       gameid    usd    eur    gbp     jpy    rub date_acquired
340   1424420  24.99  24.99  20.99  2800.0  880.0    2024-11-28
1009  1402280  14.39    NaN  11.99  1600.0  520.0    2024-11-28

In [466]:
games[games['gameid']==1424420] #extracting one such game for further analysis

,gameid,title,developers,publishers,genres,supported_languages,release_date
340,1424420,Warchief,['Honikou Games'],['Honikou Games'],"['Action', 'Indie', 'Strategy', 'Free To Play'...","['English', 'French', 'Italian', 'German', 'Sp...",2024-06-27

In [467]:
games.loc[340, 'genres']

"['Action', 'Indie', 'Strategy', 'Free To Play', 'Early Access']"

So clearly below, one game classifed as free to play has prices  in all the currencies:

In [468]:
prices[prices['gameid']==1424420].head(3)

         gameid    usd    eur    gbp     jpy    rub date_acquired
340     1424420  24.99  24.99  20.99  2800.0  880.0    2024-11-28
98238   1424420  24.99  24.99  20.99  2800.0  880.0    2024-11-30
196011  1424420  24.99  24.99  20.99  2800.0  880.0    2024-12-02

In [591]:
#the goal in this cell is just some clean up on the genres column so we can access the genres to remove the 'Free to play' tag.
#For instance, the genre is represented as a list inside a string: "['Action', 'Free To Play']" but we want it as a list ['Action', 'Free To Play']
#so we can loop through it
games['genres'] = games['genres'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
games.head(3)

,gameid,title,developers,publishers,genres,supported_languages,release_date
5,3278740,NEURO,['Revolt Games'],['Strategy First'],[Action],"['English', 'Russian']",2024-10-11
10,3270850,Keep Your Eyes Open,['Texerikus'],['Texerikus'],[Indie],['English'],2024-10-21
15,3267350,Tiny Shooters,['madilumar'],['Thetinyverse'],"[Action, Free To Play]",['English'],2024-10-19

In [592]:
games_w_price = free_to_play_prices[~free_to_play_prices['usd'].isna()]#games with the free to play tag that have a usd price (not NaN) in the price table
target_ids = games_w_price['gameid']  

# Function to remove 'Free To Play' from the genre column for those with prices
def remove_free_to_play(genres):
    return [g for g in genres if g != 'Free To Play']
# Apply only to rows where id is in target_ids
games.loc[games['gameid'].isin(target_ids), 'genres'] = games.loc[games['gameid'].isin(target_ids), 'genres'].apply(remove_free_to_play)

In [593]:
#test
games.loc[340, 'genres']

['Action', 'Indie', 'Strategy', 'Early Access']

Now we shall check the 'Free to play' games again having removed the ones impersonating as free to play. We now expect all the records to indicate that there are null values for all currencies. But the table shows that all the 'usd' entries (387528) are (correctly) null but the other currencies, 387483 are (correctly null). So about 45 (387528 - 387483) of the rows need further investigation.

In [594]:
free_to_play = games[games['genres'].astype(str).str.contains('Free To Play')] 
num_free_to_play = len(free_to_play)
print(f'Number of free to play games: {num_free_to_play: }')
free_to_play_perc = (len(free_to_play) / len(games) )*100
print(f'Percentage of free to play games: {free_to_play_perc: .2f}%')
free_to_play_ids = free_to_play['gameid']
free_to_play_prices = prices[prices['gameid'].isin(free_to_play_ids)]
free_to_play_prices.isna().sum()

Number of free to play games:  8666
Percentage of free to play games:  9.32%

gameid                0
usd              387528
eur              387483
gbp              387483
jpy              387483
rub              387483
date_acquired         0
dtype: int64

Using just one curency to check which is not null. Interestingly, this is the same game. It has a NaN for 'usd' but for the other currencies it has a price. Perhaps it is 'free to play' in the USA only. In any case, since I will be using usd prices, and this is just one game, we shall remove it from the analysis.

In [595]:
suspicious_not_null_price = free_to_play_prices[~free_to_play_prices['gbp'].isna()]
suspicious_not_null_price

         gameid  usd   eur   gbp    jpy   rub date_acquired
81147    382120  NaN  0.79  0.79  100.0  30.0    2024-11-28
178963   382120  NaN  0.79  0.79  100.0  30.0    2024-11-30
276596   382120  NaN  0.79  0.79  100.0  30.0    2024-12-02
374193   382120  NaN  0.79  0.79  100.0  30.0    2024-12-04
471791   382120  NaN  0.79  0.79  100.0  30.0    2024-12-06
569594   382120  NaN  0.79  0.79  100.0  30.0    2024-12-08
667527   382120  NaN  0.79  0.79  100.0  30.0    2024-12-10
765101   382120  NaN  0.79  0.79  100.0  30.0    2024-12-12
862693   382120  NaN  0.79  0.79  100.0  30.0    2024-12-14
960483   382120  NaN  0.79  0.79  100.0  30.0    2024-12-16
1058342  382120  NaN  0.79  0.79  100.0  30.0    2024-12-18
1155994  382120  NaN  0.79  0.79  100.0  30.0    2024-12-20
1253791  382120  NaN  0.79  0.79  100.0  30.0    2024-12-22
1351248  382120  NaN  0.79  0.79  100.0  30.0    2024-12-24
1449190  382120  NaN  0.79  0.79  100.0  30.0    2024-12-26
1546892  382120  NaN  0.79  0.79  100.0  30.0    2024-12-28
1644364  382120  NaN  0.79  0.79  100.0  30.0    2024-12-30
1742251  382120  NaN  0.79  0.79  100.0  30.0    2025-01-01
1840086  382120  NaN  0.79  0.79  100.0  30.0    2025-01-03
1937759  382120  NaN  0.79  0.79  100.0  30.0    2025-01-05
2035491  382120  NaN  0.79  0.79  100.0  30.0    2025-01-07
2133178  382120  NaN  0.79  0.79  100.0  30.0    2025-01-09
2230926  382120  NaN  0.79  0.79  100.0  30.0    2025-01-11
2329661  382120  NaN  0.79  0.79  100.0  30.0    2025-01-13
2428470  382120  NaN  0.79  0.79  100.0  30.0    2025-01-15
2526849  382120  NaN  0.79  0.79  100.0  30.0    2025-01-17
2625188  382120  NaN  0.79  0.79  100.0  30.0    2025-01-19
2723644  382120  NaN  0.79  0.79  100.0  30.0    2025-01-21
2822175  382120  NaN  0.79  0.79  100.0  30.0    2025-01-23
2920813  382120  NaN  0.79  0.79  100.0  30.0    2025-01-25
3019405  382120  NaN  0.79  0.79  100.0  30.0    2025-01-27
3117754  382120  NaN  0.79  0.79  100.0  30.0    2025-01-29
3216134  382120  NaN  0.79  0.79  100.0  30.0    2025-01-31
3314499  382120  NaN  0.79  0.79  100.0  30.0    2025-02-02
3413171  382120  NaN  0.79  0.79  100.0  30.0    2025-02-04
3511794  382120  NaN  0.79  0.79  100.0  30.0    2025-02-06
3610407  382120  NaN  0.79  0.79  100.0  30.0    2025-02-08
3707815  382120  NaN  0.79  0.79  100.0  30.0    2025-02-10
3806145  382120  NaN  0.79  0.79  100.0  30.0    2025-02-12
3904634  382120  NaN  0.79  0.79  100.0  30.0    2025-02-14
4003240  382120  NaN  0.79  0.79  100.0  30.0    2025-02-16
4101845  382120  NaN  0.79  0.79  100.0  30.0    2025-02-18
4200193  382120  NaN  0.79  0.79  100.0  30.0    2025-02-20
4298526  382120  NaN  0.79  0.79  100.0  30.0    2025-02-22
4396861  382120  NaN  0.79  0.79  100.0  30.0    2025-02-24

In [598]:
games = games[games['gameid']!=382120].copy()#remove the game 
prices = prices[prices['gameid']!=382120].copy()
free_to_play = games[games['genres'].astype(str).str.contains('Free To Play')] 
num_free_to_play = len(free_to_play)
print(f'Number of free to play games: {num_free_to_play: }')
free_to_play_perc = (len(free_to_play) / len(games) )*100
print(f'Percentage of free to play games: {free_to_play_perc: .2f}%')
free_to_play_ids = free_to_play['gameid']
free_to_play_prices = prices[prices['gameid'].isin(free_to_play_ids)]
free_to_play_prices.isna().sum()

Number of free to play games:  8665
Percentage of free to play games:  9.32%

gameid           0
usd              0
eur              0
gbp              0
jpy              0
rub              0
date_acquired    0
dtype: int64

For analysis later, I will add a column that indicates if the game was free to play or not, then also in the prices, assign the price of 0.

In [599]:
games['Free to play'] = 'No'
games.loc[games['gameid'].isin(free_to_play_ids), 'Free to play'] = 'Yes'
prices = prices.fillna(0.0)

In [600]:
games.head(3)

,gameid,title,developers,publishers,genres,supported_languages,release_date,Free to play
5,3278740,NEURO,['Revolt Games'],['Strategy First'],[Action],"['English', 'Russian']",2024-10-11,No
10,3270850,Keep Your Eyes Open,['Texerikus'],['Texerikus'],[Indie],['English'],2024-10-21,No
15,3267350,Tiny Shooters,['madilumar'],['Thetinyverse'],"[Action, Free To Play]",['English'],2024-10-19,Yes

In [601]:
prices.head(3)

     gameid   usd   eur   gbp    jpy    rub date_acquired
5   3278740  5.99  5.85  5.10  720.0  228.0    2024-11-28
10  3270850  3.99  3.99  3.89  470.0  165.0    2024-11-28
15  3267350  0.00  0.00  0.00    0.0    0.0    2024-11-28

Steam uses regional pricing so with the missing values in other currencies it is not a simple matter of converting the price from one currency to another. Furthermore, since we have prices recorded over time, there is the issue of the varying exchange rate to consider. Therefore, instead, as already alluded to earlier on,for our analysis we shall focus only on USD prices. For our table to use less space, we remove the other currencies. Perhaps later on we could try to include them in the analysis.

In [602]:
cols_to_drop = ['eur','gbp','jpy','rub']
prices = prices.drop(columns= cols_to_drop)

In [288]:
#prices.to_csv('../steam/prices_cleaned.csv', index=False)
#games.to_csv('../steam/games_cleaned.csv', index=False)

## Date
To enable proper time-series analysis in Power BI, we shall create date tables.
The games table has a release date column for when the game was released. The prices table has a date_acquired column which, according to the documentation, is the date when the price was acquired. Each game can have multiple of date_acquired dates since the price can vary over time (for example, during sales) but the release date is expected to be one for each game.

In [294]:
games['release_date'] = pd.to_datetime(games['release_date'], errors='coerce')
games.head(2)

C:\Users\kunen\AppData\Local\Temp\ipykernel_27872\1623994211.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games['release_date'] = pd.to_datetime(games['release_date'], errors='coerce')

,gameid,title,developers,publishers,genres,supported_languages,release_date,Free to play
5,3278740,NEURO,['Revolt Games'],['Strategy First'],[Action],"['English', 'Russian']",2024-10-11,No
10,3270850,Keep Your Eyes Open,['Texerikus'],['Texerikus'],[Indie],['English'],2024-10-21,No

In [299]:
date_release = pd.DataFrame({
    'Date': pd.date_range(start=games['release_date'].min(), end=games['release_date'].max())
})
date_release['Year'] = date_release['Date'].dt.year
date_release['Month'] = date_release['Date'].dt.strftime('%b')
date_release['MonthNumber'] = date_release['Date'].dt.month
date_release['YearMonth'] = date_release['Date'].dt.strftime('%Y-%m')

prices['date_acquired'] = pd.to_datetime(prices['date_acquired'], errors='coerce')

date_price = pd.DataFrame({
    'Date': pd.date_range(start=prices['date_acquired'].min(), end=prices['date_acquired'].max())
})
date_price['Year'] = date_price['Date'].dt.year
date_price['Month'] = date_price['Date'].dt.strftime('%b')
date_price['MonthNumber'] = date_price['Date'].dt.month
date_price['YearMonth'] = date_price['Date'].dt.strftime('%Y-%m')

date_price.to_csv("date_price.csv", index=False)
date_release.to_csv("date_release.csv", index=False)

## Review table

We now look at the table with reviews. As per the documentation, this has reviewid, playerid, gameid and the review. The main thing we will be concerning ourselves with is the gameid since, later one, this can help in finding the number of reviews per game. We will drop the 'review' column since it will not be useful in our analyses.

In [603]:
reviewsdf = pd.read_csv('../steam/reviews.csv')

In [604]:
reviews = reviewsdf.copy()
reviews.head(3)

,reviewid,playerid,gameid,review,helpful,funny,awards,posted
0,639543,76561198796340888,730,Goud gamę i have 3 vac ban acont but i stilll ...,0,0,0,2018-03-22
1,639544,76561198028706627,393380,---{ Graphics }---☐ You forget what reality is...,0,0,0,2025-01-03
2,639545,76561198028706627,10,One of the best FPS games :),0,0,0,2012-05-13

In [605]:
reviews = reviews.drop(columns=['review'])
reviews.head(3)

   reviewid           playerid  gameid  helpful  funny  awards      posted
0    639543  76561198796340888     730        0      0       0  2018-03-22
1    639544  76561198028706627  393380        0      0       0  2025-01-03
2    639545  76561198028706627      10        0      0       0  2012-05-13

In [606]:
original_unmatched_ids = set(reviewsdf['gameid']) - set(gamesdf['gameid'])
print(f"Total review gameids missing in original games: {len(original_unmatched_ids)}")

Total review gameids missing in original games: 161

We will want to check if all the game ids in the reviews table appear in our main games table. It would be problematic to have a review for a game but no way to verify which game it is. First we check the number of unique ids in each.

In [515]:
num_games_reviewed = reviews['gameid'].nunique()
tot_games = games['gameid'].nunique()
print(f'Number of games reviewed is: {num_games_reviewed}')
print(f'Total number of games is: {tot_games}')

Number of games reviewed is: 51910
Total number of games is: 92964

From above it appears not all games were reviewed (so some games have zero reviews). With this in mind, we can create a variable "HasReview", perhaps it will be important later. But first we will check if all gameids in reviews appear in games. It appears that in the reviews table, there are some game ids that do not appear in the main games table (235 of these). This is concerning as the games table is the main games table with all game related information. Perhaps these rogue games are those we removed that were playtests.

In [508]:
#set(reviews['gameid'])
#set(reviews['gameid']) == set(games['gameid'])
review_id_not_in_games = list(set(reviews['gameid']) - set(games['gameid'])) #IDs in reviews not in games

print(f'Number of games in reviews table that do not appear in games table: {len(review_id_not_in_games)}')

Number of games in reviews table that do not appear in games table: 235

In [608]:
reviews_ids = set(reviews['gameid'])
games_ids = set(games['gameid'])
# IDs in reviews that don't exist in games
review_id_not_in_games = reviews_ids - games_ids
print("Number of games in reviews table that do not appear in games table:", len(review_id_not_in_games))  
unmatched_playtest_ids = review_id_not_in_games.intersection(playtest_ids)
print("Number of games in reviews not in games table but are in the playtest:", len(unmatched_playtest_ids))  
remaining_unmatched = review_id_not_in_games - unmatched_playtest_ids
print("Number of games in reviews that do not appear in games after removing playtests:", len(expected_remaining_unmatched))

Number of games in reviews table that do not appear in games table: 235
Number of games in reviews not in games table but are in the playtest: 72
Number of games in reviews that do not appear in games after removing playtests: 163

We have 72 playtest games. We shall remove these from the reviews for consistency. Then we continue to investigate which IDs are not in main games tables.

In [609]:
reviews = reviews[~reviews['gameid'].isin(playtest_ids)]
# sanity check
games_ids = set(games['gameid'])
reviews_ids = set(reviews['gameid'])# Gameids in reviews (after playtest removal)
unmatched_review_ids = reviews_ids - games_ids # IDs in reviews that are NOT in games

print(f"Unmatched review gameids (post-playtest-removal): {len(unmatched_review_ids)}")  # Expect 163

Unmatched review gameids (post-playtest-removal): 163

We will also remove the no title games like we did for games and prices (in this case its just one of the games appearing in reviews)

In [536]:
no_title_games['gameid'].isin(reviews['gameid'])

2853     False
39705    False
77700     True
Name: gameid, dtype: bool

In [610]:
reviews = reviews[~reviews['gameid'].isin(no_title_games['gameid'])]

In [611]:
# sanity check
games_ids = set(games['gameid'])
reviews_ids = set(reviews['gameid'])# Gameids in reviews (after playtest and no title games removal)
unmatched_review_ids = reviews_ids - games_ids # IDs in reviews that are NOT in games

print(f"Unmatched review gameids (post-playtest-no-title-removal): {len(unmatched_review_ids)}")  # Expect 162

Unmatched review gameids (post-playtest-no-title-removal): 162

We have no 162 games that appear in reviews but do not appear in games. Since these games have no information associated with them in the games table, I am making the decision to remove these. Perhaps it is a case of missing data in games table (perhaps de-listed games) or incorrectly captured ids in the review table. In anycase, with now way to verify game information (like title, developers etc) these would be of little use, hence the decision.

In [ ]:
# Keep only reviews whose gameid appears in the main games table
reviews = reviews[reviews['gameid'].isin(games['gameid'])].copy()

## Achievements 
The table achievements contains:
* achievementid - unique achievementID, constructed as gameID + '_' + achievementNotUniqueID
* gameid - unique gameID on the Steam platform
* title - achievement title
* description - description of how to unlock the achievement

For data consistency here, I will keep only the achievements that have games ids in the main games table. We will also drop the title and description for our analyses.

In [616]:
achievementsdf = pd.read_csv('../steam/achievements.csv')

In [626]:
achievements = achievementsdf.copy()

In [618]:
achievements.head()

,achievementid,gameid,title,description
0,2621440_ACH_FIRST_KILL,2621440,FIRST KILL,You should kill ONE enemy.
1,2621440_ACH_0_LEVEL_COMPLETED,2621440,TUTORIAL COMPLETED,You should complete tutorial.
2,2621440_ACH_1_LEVEL_COMPLETED,2621440,FIRST LEVEL,You should complete first level
3,2621440_ACH_2_LEVEL_COMPLETED,2621440,SECOND LEVEL,You should complete second level
4,2621440_ACH_3_LEVEL_COMPLETED,2621440,THIRD LEVEL,You should complete third level

In [627]:
unmatched_achievements = achievements[~achievements['gameid'].isin(games['gameid'])].copy() #in case I want to come back later and analyse
achievements = achievements[achievements['gameid'].isin(games['gameid'])].copy()
achievements = achievements.drop(columns= ['title', 'description'])

In [656]:
achievements.head()

                   achievementid   gameid
0         2621440_ACH_FIRST_KILL  2621440
1  2621440_ACH_0_LEVEL_COMPLETED  2621440
2  2621440_ACH_1_LEVEL_COMPLETED  2621440
3  2621440_ACH_2_LEVEL_COMPLETED  2621440
4  2621440_ACH_3_LEVEL_COMPLETED  2621440

In [631]:
unmatched_achievements['gameid'].nunique()

486

In [632]:
unmatched_achievements

,achievementid,gameid,title,description
9761,2884310_AC_OpenTheDoor,2884310,Open the door,Replace the Bypass chip of the door control.
9762,2884310_AC_NANDDone,2884310,NAND Designer,Create a NAND gate.
9763,2884310_AC_Chapter1Done,2884310,Ghost in the Grid,Complete the Chapter 1.
9764,2884310_AC_64BitAdderDone,2884310,Carry Champion,Create an unreasonable 64-bit Adder.
9765,2884310_AC_8BitMultiplierDone,2884310,Multiplier Maverick,Multiply the unthinkable and came out on top. ...
...,...,...,...,...
1938857,3288950_GOOD_INFLUENCE_0,3288950,Brick by Brick,Sacrifice your inner desires to help everyone
1938858,3288950_LOSE_0,3288950,No Room In Heaven,Get locked out of heaven for nothing
1938859,3288950_WING_UPGRADE_0,3288950,Surge of Power!,NaN
1938860,3288950_WIN_1,3288950,"Okaeri, Maou-sama",NaN
1938861,3288950_WIN_0,3288950,"Welcome back, Kazfiel. You've made some new fr...",NaN

## History 
The table history contains:
* playerid - unique userID on the Steam platform who earned achievementID
* achievementid - unique achievementID, constructed as gameID + '_' + achievementNotUniqueID
* date_acquired - timestamp of when the achievement was earned

For data consistency here, I will keep only the rows where the achievementid is in the cleaned achievements table.

In [641]:
historydf = pd.read_csv("../steam/history.csv")

In [642]:
history = historydf.copy()

In [643]:
history.head(3)

            playerid achievementid        date_acquired
0  76561198220441373  403640_ACH_1  2019-12-18 15:33:43
1  76561198220441373  403640_ACH_2  2019-12-18 23:49:51
2  76561198220441373  403640_ACH_3  2019-12-19 23:05:07

In [644]:
history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10693879 entries, 0 to 10693878
Data columns (total 3 columns):
 #   Column         Dtype
---  ------         -----
 0   playerid       int64
 1   achievementid  object
 2   date_acquired  object
dtypes: int64(1), object(2)
memory usage: 244.8+ MB

Luckily for this table, it appears there aren't any missing values.

In [645]:
miss_per_col  = miss_val_per(history)
miss_per_col

               Number of Missing Values  Percent of Total Values
playerid                              0                      0.0
achievementid                         0                      0.0
date_acquired                         0                      0.0

There are 1928259 unique achievements and from below, it appears that quite a number of achievements (1043018) haven't been 'achieved'.

In [658]:
number_of_achievements = set(achievements['achievementid'])
number_of_achieved_achievements = set(history['achievementid'])
achievements_not_achieved = number_of_achievements - number_of_achieved_achievements
#perc_achievements_not_achieved = achievements_not_achieved / number_of_achievements * 100
print(f"Number of unique achievements: {len(number_of_achievements)}")
print(f"Number of achievements that haven't been achieved yet: {len(achievements_not_achieved)}")
#print(f"Percentage of achievements that haven't been achieved yet: {perc_achievements_not_achieved: 0.2f}%")

Number of unique achievements: 1928259
Number of achievements that haven't been achieved yet: 1043018

In [655]:
len(set(achievements['achievementid'])-set(history['achievementid']))

1043018

In [657]:
len(set(achievements['achievementid']))-len(set(history['achievementid']))

1041271

In [637]:
prices.to_csv('../steam/prices_cleaned.csv', index=False)
games.to_csv('../steam/games_cleaned.csv', index=False)
achievements.to_csv('../steam/achievements_cleaned.csv', index=False)
reviews.to_csv('../steam/reviews_cleaned.csv', index=False)

## Summary
This is what we have done in this notebok:
* Removed irrelevant or inconsistent records, such as playtest games

* Handled missing values appropriately across all key fields

* Standardised data types and formats (e.g., date formats, game IDs, price as float)

* Converted stringified lists (e.g., developers, genres) into actual Python lists for later normalization

* Ensured data consistency across tables (e.g., all references to gameid are valid and aligned)